.header {
    height: 100px;
    width: 400px;
    background-color: #141f40;
}
.main {
    height: 250px;
    width: 400px;
    background-color: #80bfa8;
    display: flex;
}
.left {
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}
.right {
    height: 250px;
    width: 250px;
    background-color: #dbd400;
    flex-direction: column;
}
.box1 {
    height: 150px;
    width: 250px;
    display: flex;
}
.box3 {
    height: 150px;
    width: 150px;
    background-color: red;
}

.box5 {
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}
.box6 {
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}
.box4 {
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
}
.box2 {
    height: 100px;
    width: 250px;
    background-color: #8c2727;
}
.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}